.bg-login {
  margin: 0;
  height: 100vh;
  background-image: url("../../resources/creative-educational-sketch-white-backdrop-with-copybooks-education-knowledge-concept-3d-rendering_670147-66821.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-web {
  margin: 0;
  height: 20vh;
  width: 30vh;
  background-image: url("../../resources/logo-removebg-preview.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title-welcome {
  font-size: "70px";
  color: #14140a;
}
.login-box {
  position: relative;
  height: 100vh;
}

.login-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.login-box .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.login-box .content .form-box {
  background-color: #fff;
  height: 60%;
  width: 50%;
  padding: 17px 17px;
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-form {
  width: 100%;
  border-radius: 0.5rem;
  height: 50px;
  outline: none;
}
.button-GG {
  background-color: #dc3545;
}
.button-FB {
  background-color: #0d6efd;
}
.button-TT {
  background-color: #0dcaf0;
}

/* Login.css */

.bg-login {
  background: url('../../resources/creative-educational-sketch-white-backdrop-with-copybooks-education-knowledge-concept-3d-rendering_670147-66821.avif') no-repeat center center fixed; /* Use your background image */
  background-size: cover; /* Cover the entire area */
  height: 100vh; /* Full viewport height */
  position: relative; /* For absolute positioning of overlay */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px); 
  z-index: 1; 
}

.content {
  position: relative; /* Allow content to be on top of the overlay */
  z-index: 2; /* Ensure content is above the overlay */
  padding: 20px; /* Adjust padding as needed */
}

.left-box, .login-box {
  padding: 20px;
}

@media (max-width: 768px) {
  .overlay {
    display: none; /* Hide the overlay on smaller screens */
  }
  .left-box {
    display: none; /* Adjust as necessary */
  }

  .login-box {
    width: 100%;
    padding: 10px; /* Adjust padding */
  }

  .title-welcome {
    font-size: 1.5em; /* Adjust title size */
  }

  .content {
    padding: 10px; /* Adjust content padding */
  }

  .button-form {
    width: 100%; /* Full width buttons */
  }
}
